<aside class="sidebar">
<nav class="nav">
  <a href="{{ site.baseurl }}/" data-path="/">
    <span class="ico">🏠</span> Home
  </a>

  <a href="{{ site.baseurl }}/search/" data-path="/search/">
    <span class="ico">🔎</span> Search
  </a>

  <a href="{{ site.baseurl }}/listen/" data-path="/listen/">
    <span class="ico">🎧</span> Listen
  </a>

  <a href="{{ site.baseurl }}/youtube/" data-path="/youtube/">
    <span class="ico">▶️</span> YouTube
  </a>

  <a href="{{ site.baseurl }}/events/" data-path="/events/">
    <span class="ico">📅</span> Events
  </a>

  <a href="{{ site.baseurl }}/posts/" data-path="/posts/">
    <span class="ico">✍️</span> Recent Posts
  </a>

  <a href="{{ site.baseurl }}/tags/" data-path="/tags/">
  <span class="ico">🏷</span> Tags
</a>
  
  <a href="{{ site.baseurl }}/merch/" data-path="/merch/">
    <span class="ico">🛍</span> Merch
  </a>

  <a href="{{ site.baseurl }}/contact/" data-path="/contact/">
    <span class="ico">✉️</span> Contact
  </a>
</nav>
</aside>
