---
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title | default: "Arachne" }}</title>

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
</head>
<body>
  <div class="shell">
    {% include sidebar.html %}

    <main class="main">
      <div class="container">
        {{ content }}
      </div>
    </main>
  </div>
</body>
</html>
